.ProseMirror {
  white-space: pre-wrap;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}

p {
  line-height: 1.5;
  margin-bottom: 5px;
}

.tippy-box {
  background-color: unset;
  color: unset;
}

.tippy-content {
  padding: unset;
}

.tippy-arrow {
  display: none;
}

.mention {
  color: #a975ff;
  background-color: rgba(169, 117, 255, 0.1);
  border-radius: 0.3rem;
  padding: 0.1rem 0.3rem;
}
